{% extends "base.html" %}
{% block title %}Jadwal Ibadah - GBI Cibadak{% endblock %}
{% block content %}
<div class="card">
    <h2>Jadwal Ibadah Raya</h2>
    <table>
        <tr><th>Waktu</th><th>Jenis Ibadah</th><th>Lokasi</th></tr>
        <tr><td>Minggu, 09:00 WIB</td><td>Ibadah Raya Umum</td><td>Gedung Utama</td></tr>
        <tr><td>Minggu, 17:00 WIB</td><td>Youth & Teens Service</td><td>Aula Serbaguna</td></tr>
        <tr><td>Jumat, 19:00 WIB</td><td>Doa Malam / Komsel</td><td>Online / On-site</td></tr>
    </table>
</div>
{% endblock %}