*, *::before, *::after { box-sizing: border-box; }

body {
    margin: 0; 
    padding: 20px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: #0F0F0F; 
    color: #F3F3F3;
    line-height: 1.6;
}

.wrapper { 
    max-width: 1000px; 
    margin: 0 auto; 
}

/* Header & Navbar Ikonik dengan Lengkungan Unik */
header {
    border: 5px solid #FFDE59; 
    background-color: #1A1A1A;
    padding: 25px; 
    box-shadow: 8px 8px 0px #FFDE59; 
    margin-bottom: 30px;
    border-radius: 25px 10px 30px 15px;
}

h1 { 
    margin: 0; 
    font-size: 2.5rem; 
    font-weight: 900; 
    color: #FFDE59; 
    text-transform: uppercase; 
}

nav {
    display: flex; 
    flex-wrap: wrap; 
    gap: 8px; 
    margin-top: 15px;
}

nav a {
    background: #00F0FF; 
    color: #0F0F0F; 
    border: 3px solid #FFF;
    padding: 6px 12px; 
    font-family: 'Space Mono', monospace; 
    font-weight: 700;
    text-decoration: none; 
    box-shadow: 3px 3px 0px #FFF; 
    font-size: 0.8rem;
    border-radius: 12px 4px 12px 4px;
    transition: 0.1s;
}

nav a:hover { 
    background: #7ED957; 
    transform: translate(-2px, -2px); 
    box-shadow: 5px 5px 0px #FFF; 
}

/* Kotak Utama dengan Lengkungan Dinamis */
.card {
    border: 5px solid #FFF; 
    background-color: #7ED957; 
    color: #0F0F0F;
    padding: 25px; 
    box-shadow: 8px 8px 0px #FFDE59; 
    margin-bottom: 25px;
    border-radius: 20px 35px 20px 35px;
}

.card.alt {
    background-color: #00F0FF;
    box-shadow: 8px 8px 0px #FF5757;
    border-radius: 35px 20px 35px 20px;
}

.card h2, .card h3 { 
    margin-top: 0; 
    font-weight: 900; 
    border-bottom: 4px solid #0F0F0F; 
    padding-bottom: 8px; 
    text-transform: uppercase; 
}

/* Tabel & Formulir */
table {
    width: 100%; 
    border-collapse: collapse; 
    margin-top: 15px;
    border: 3px solid #0F0F0F; 
    background-color: #FFFDF4;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    border: 2px solid #0F0F0F; 
    padding: 10px; 
    text-align: left; 
    font-weight: 700;
}

th { background-color: #FFDE59; }

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 3px solid #0F0F0F;
    border-radius: 8px;
    font-family: inherit;
    font-weight: 700;
}

button {
    background: #FF5757;
    color: #FFF;
    border: 3px solid #0F0F0F;
    padding: 10px 20px;
    font-weight: 900;
    cursor: pointer;
    box-shadow: 4px 4px 0px #0F0F0F;
    border-radius: 10px;
}

button:active {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 0px #0F0F0F;
}

/* Footer */
footer {
    border: 5px solid #FF5757; 
    background-color: #1A1A1A; 
    color: #FFF;
    padding: 20px; 
    text-align: center; 
    font-family: 'Space Mono', monospace;
    font-weight: 700; 
    box-shadow: 8px 8px 0px #FF5757; 
    margin-top: 40px; 
    text-transform: uppercase;
    border-radius: 15px 25px 15px 25px;
}